# Ignore virtual environment
venv/
# Ignore Python cache
__pycache__/
*.py[cod]
# Ignore logs
*.log
# Ignore IDE settings
.vscode/
trial.py
build/
dist/
# Ignore flatpakbuild folder

flatpak_build/
.flatpak-builder/
# Autres fichiers générés par Flatpak
*.flatpak
*.flatpakref

